.title {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.question img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title2 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date2 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q2 img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title3 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date3 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q3 img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title4 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date4 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q4 img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title5 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date5 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q5 img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title6 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date6 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q6 img{
    display: inline-block;
    width: 1000px;
    height: 1000px;
}

.title7 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date7 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q7 img{
    display: inline-block;
    width: 500px;
    height: 500px;
}

.title8 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date8 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q8 img{
    display: inline-block;
    width: 500px;
    height: 500px;
}

.title9 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date9 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q9 img{
    display: inline-block;
    width: 500px;
    height: 500px;
}

.title10 {
    display: inline-block;
	font-weight: bold;
	font-size: 45px;
    padding-left: 255px;
}

.date10 {
    display: inline-block;
    font-weight: 600px;
    font-size: 30px;
    padding-left: 50px;
}

.q10 img{
    display: inline-block;
    width: 500px;
    height: 500px;
}
